
# VS Code settings
.vscode/**
!.vscode/launch.json
!.vscode/tasks.json


# Debug and release folders
build
STM32CubeIDE/.settings
STM32CubeIDE/Debug
STM32CubeIDE/Release

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb